.ico-sliders {
  display: inline-block;
  min-width: 19px;
  height: 19px;
  background: url(../images/icon/Sliders.svg) no-repeat 50% 50%;
}
.ico-lockkey {
  display: inline-block;
  min-width: 19px;
  height: 19px;
  background: url(../images/icon/LockKey.svg) no-repeat 50% 50%;
}
.ico-logout {
  display: inline-block;
  min-width: 19px;
  height: 19px;
  background: url(../images/icon/Logout.svg) no-repeat 50% 50%;
}
.ico-home {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/Home.svg) no-repeat 50% 50%;
}
.ico-plus-white {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/plus-white.svg) no-repeat 50% 50%;
}
.ico-arrow-up {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/arrow-up.svg) no-repeat 50% 50%;
}
.ico-arrow-down {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/arrow-down.svg) no-repeat 50% 50%;
}
.ico-tree-folder {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/tree-folder.svg) no-repeat 50% 50%;
}
.ico-tree-page {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/tree-page.svg) no-repeat 50% 50%;
}
.ico-more {
  display: inline-block;
  min-width: 26px;
  height: 26px;
  background: url(../images/icon/more.svg) no-repeat 50% 50%;
}
.ico-no {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/no.svg) no-repeat 50% 50%;
}
.ico-pages {
  display: inline-block;
  min-width: 22px;
  height: 28px;
  background: url(../images/icon/pages.svg) no-repeat 50% 50%;
}
.ico-new-windows {
  display: inline-block;
  min-width: 22px;
  height: 22px;
  background: url(../images/icon/new-windows.svg) no-repeat 50% 50%;
}
.ico-doc-plus {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico_doc_plus.svg) no-repeat 50% 50%;
}
.ico-trash {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico_trash.svg) no-repeat 50% 50%;
}
.ico-logout {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico-logout.svg) no-repeat 50% 50%;
}
.ico-exclamation {
  display: inline-block;
  min-width: 150px;
  height: 150px;
  background: url(../images/icon/ico_exclamation.svg) no-repeat 50% 50%;
}
.ico-exclamation-danger {
  display: inline-block;
  min-width: 236px;
  height: 235px;
  background: url(../images/icon/ico_exclamation_danger.svg) no-repeat 50% 50%;
}
