.ico-sliders {
  display: inline-block;
  min-width: 19px;
  height: 19px;
  background: url(../images/icon/Sliders.svg) no-repeat 50% 50%;
}
.ico-lockkey {
  display: inline-block;
  min-width: 19px;
  height: 19px;
  background: url(../images/icon/LockKey.svg) no-repeat 50% 50%;
}
.ico-logout {
  display: inline-block;
  min-width: 19px;
  height: 19px;
  background: url(../images/icon/Logout.svg) no-repeat 50% 50%;
}
.ico-home {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/icon/Home.svg) no-repeat 50% 50%;
}
.ico-plus {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/plus.svg) no-repeat 50% 50%;
}
