.kw,
html {
  .fs-0 {
    font-size: 0 !important;
  }
  .invalid-feedback {
    position: relative;
    margin: 0;
    padding: 0 0 0 26px;
    color: var(--blocker-critical, #91524b);
    font-family: Pretendard;
    font-size: 12.74px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 307.823% */
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      min-width: 18px;
      height: 18px;
      background: url(../images/icon/invalid.svg) no-repeat 50% 50%;
    }
  }
  .modal {
    &-title {
      margin: 0;
      h4 {
        margin: 0;
        color: var(--Gray-500, #383f45);
        font-family: Pretendard;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      h5 {
        margin: 0;
        color: var(--Gray-500, #383f45);
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 100% */
      }
    }
    &-footer {
      display: flex;
      align-items: center;
      gap: 12px;
      .btn {
        min-width: 120px;

        margin: 0;
      }
    }
    &-body {
      .kw-tabs {
        padding: 0;
        .nav-tabs {
          margin-bottom: 30px;
          .nav-item {
            .nav-link {
              min-width: 80px;
            }
          }
        }
      }
    }
  }
  .card {
    &-header {
      padding: 15px 22px 9px;
      background-color: #fff;
      border-bottom: 1px solid var(--Gray-100, #e5e7ea);
      h5 {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 10px 0;
        color: var(--Gray-400, #596066);
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &--line {
      box-shadow: none;
      border: 1px solid var(--Gray-100, #e5e7ea);
      overflow: hidden;
    }
  }

  .text {
    &-bg {
      &-primary {
        color: #fff !important;
      }
    }
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 4px;
    padding: 10px 22px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    white-space: noWrap;
    &-secondary {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    &-primary {
      background: #6a9c89;
      border-color: #6a9c89;
      color: #fff;
      &:hover {
        background: #6a9c89;
        border-color: #6a9c89;
        color: #fff;
      }
      &-dark {
        background: var(--Link, #385752);
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
    &-sm {
      padding: 4px;
      font-size: 12px;
      font-weight: 500;
    }
    &-lg {
      padding: 19px;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
    }
    &-outline {
      &-secondary {
        border-color: var(--Gray-100, #e5e7ea);
      }
    }
    &:disabled {
      border-color: var(--Gray-200, #9ca1ad);
      background: var(--Gray-200, #9ca1ad);
      color: #fff;
    }
  }
  .pagination {
    .page-item {
      margin: 0 6px;
      .page-link {
        width: 30px;
        height: 30px;
        border: none;
        color: var(--Gray-300, #676e76);
        font-family: Pretendard;
        font-size: 14.864px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &.active {
        .page-link {
          background: none;
          color: var(--Gray-500, #383f45);
          text-align: center;
          font-family: Pretendard;
          font-size: 14.864px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      &-first {
        margin-right: 12px;
        .page-link {
          background: url(../images/icon/pagination-first.svg) no-repeat 50% 50%;
          font-size: 0;
        }
      }
      &-prev {
        margin-right: 20px;
        .page-link {
          background: url(../images/icon/pagination-prev.svg) no-repeat 50% 50%;
          font-size: 0;
        }
      }
      &-next {
        margin-left: 20px;
        .page-link {
          background: url(../images/icon/pagination-next.svg) no-repeat 50% 50%;
          font-size: 0;
        }
      }
      &-last {
        margin-left: 12px;
        .page-link {
          background: url(../images/icon/pagination-last.svg) no-repeat 50% 50%;
          font-size: 0;
        }
      }
    }
  }
  .badge {
    &.text-bg-dark {
      background: var(--Gray-300, #676e76) !important;
    }

    &.bg-critical {
      background: var(--blocker-critical, #91524b);
      color: #fff;
    }
    &.bg-high {
      background: var(--major-medium, #c09e94);
      color: #fff;
    }
    &.bg-medium {
      background: var(--critical-high, #ba7d66);
      color: #fff;
    }
    &.bg-low {
      background: var(--major-low, #a6a6a6);
      color: #fff;
    }
  }
  .form-control {
    height: 42px;
    padding-right: 10px;
    color: var(--Gray-400, #596066);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    &[type='date'] {
      appearance: none;
      &::-webkit-calendar-picker-indicator {
        background: url(../images/icon/Calendar.svg) no-repeat 50% 50%;
      }
    }
  }
  .form-select {
    display: flex;
    align-items: center;
    min-width: 160px;
    height: 42px;
    padding: 0 16px 0 22px;
    border-radius: 4px;
    border: 1.062px solid #ebebeb;
    background: url(../images/icon/select.svg) no-repeat calc(100% - 8px) 50%;
    color: #596066;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 140% */
  }
  .form-switch {
    .form-check-label {
      display: flex;
      align-items: center;
      height: 30px;
    }
  }
  .form-check {
    &-label {
      color: var(--Gray-300, #676e76);
      font-family: Pretendard;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px; /* 140% */
    }
  }
}
